@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Lobster+Two:ital,wght@0,400;0,700;1,400;1,700&family=Sansita:ital,wght@0,400;0,700;0,800;0,900;1,400;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css?family=Alice');
.main-container{
    height: 100dvh;
    width: 100dvw;
}

a{
    height: fit-content;
}

.header{
    height: 150px;
    width: 100dvw;
    display: flex;
    justify-content: space-between;
}

nav{
    display: flex;
    height: fit-content;
    background: #F2F2F2;
    width: 100%;
    justify-content: flex-end;
    height: 230px;
    padding-top: 70px;
}

.nav-button{
    margin: 10px;
    background: transparent;
    border: none;
    font-size: 25px;
    font-family: alice;
    transition: 0.3s;
    color: transparent;
    height: fit-content;
    background: linear-gradient(to right,#004aad 0%,#cb6ce6 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.nav-button:hover{
    cursor: pointer;
    transition: 0.3s;
    transform: translateY(-5px);
}

.logo{
    top: 10px;
    left: 20px;
    border-radius: 50%;
}

.header-logo{
    display: flex;
    align-items: center;
    width: 100%;
    background: #F2F2F2;
    padding-left: 20px;
    padding-top: 40px;
    padding-bottom: 40px;
    height: 100px;
}

.header-logo-text{
    font-family: alice;
    font-size: 25px;
    color: transparent;
    background: linear-gradient(to left,#004aad 0%,#cb6ce6 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-left: 20px;
    text-align: center;
}

.portfolio-card{
    height: 550px;
    width: 350px;
    background: #f2f2f2cd;
    
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
    border-radius: 16px;
    border: 2px solid black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

.mugshot{
    border-radius: 50%;
    border: 2px solid black;
    margin-top: 30px;
}

.portfolio-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: alice;
}

.card-footer{
    background: linear-gradient(to right,#004aad 0%,#cb6ce6 100%);
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-top: 2px solid black;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom-left-radius: 14px;
    border-bottom-right-radius: 14px;
}

.media-icon{
    font-size: 40px;
    color: black;
    transition: 0.3s;
}

.media-icon:hover{
    transition: 0.3s;
    color: #f2f2f2cd;
    transform: translateY(-5px);
}

.welcome-blurb{
    width: 800px;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-left: 100px;
    background: #f2f2f2cd;
    /* padding-left: 20px;
    padding-right: 20px; */
    border-radius: 16px;
    border: 2px solid black;
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
    font-family: alice;
}

.welcome-blurb > p{
    font-size: 20px;
    width: 700px;
}

.resume-button{
    width: fit-content;
    background: linear-gradient(to right,#004aad 0%,#cb6ce6 100%);
    font-weight: bold;
    border-radius: 16px;
    padding: 5px 10px 5px 10px;
    border: 2px solid black;
    color: whitesmoke;
    font-family: alice;
    letter-spacing: 2px;
    font-size: 20px;
    transition: 0.3s;
}

.resume-button:hover{
    transition: 0.3s;
    cursor: pointer;
    background: whitesmoke;
    background: linear-gradient(to right,#004aad 0%,#cb6ce6 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transform: translateY(-5px);
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px, rgba(0, 0, 0, 0.07) 0px 2px 2px, rgba(0, 0, 0, 0.07) 0px 4px 4px, rgba(0, 0, 0, 0.07) 0px 8px 8px, rgba(0, 0, 0, 0.07) 0px 16px 16px;
}

.main-content{
    display: flex;
    position: absolute;
    align-items: center;
    height: 100dvh;
    width: 100dvw;
    justify-content: center;
    line-height: 30px;
}

.modal{
    width: fit-content;
    height: 95dvh;
    display: flex;
    margin: auto;
    flex-direction: column;
}

.modal > button{
    width: fit-content;
    margin: auto;
    background: linear-gradient(to right,#004aad 0%,#cb6ce6 100%);
    font-weight: bold;
    border-radius: 16px;
    padding: 5px 10px 5px 10px;
    border: 2px solid black;
    color: whitesmoke;
    font-family: alice;
    letter-spacing: 2px;
    font-size: 20px;
    transition: 0.3s;
    margin-top: 30px;
}

.modal > button:hover{
    transition: 0.3s;
    cursor: pointer;
    background: whitesmoke;
    background: linear-gradient(to right,#004aad 0%,#cb6ce6 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transform: translateY(-5px);
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px, rgba(0, 0, 0, 0.07) 0px 2px 2px, rgba(0, 0, 0, 0.07) 0px 4px 4px, rgba(0, 0, 0, 0.07) 0px 8px 8px, rgba(0, 0, 0, 0.07) 0px 16px 16px;
}